@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1050px;
  padding: 0 10px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.my-btn a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 5px;
}

.transparency-with-border a {
  color: #96bb7c;
  background: transparent;
  border: 2px solid #96bb7c;
}

.fill-btn a {
  color: #ffffff;
  background-color: #96bb7c;
}

.transparency-without-border a {
  color: #96bb7c;
}

.curve a {
  color: #96bb7c;
  border-radius: 30px;
  border: 2px solid #96bb7c;
  background: transparent;
}

header {
  padding: 20px 0;
}
/* Default */

/* All font size */
h1 {
  font-size: 58px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
/* All font size */

/* All padding */
.banner,
.package,
.course,
.box-wrapper,
.footer-middle {
  padding: 80px 0;
}
/* All padding */

/* Main */
main {
  background: url(../img/bg/background.png) no-repeat center;
  background-size: contain;
}
/* Main */

/* Header */
.header-wrapper > div > div:last-child > div,
.header-wrapper > div > div:first-child > div > ul {
  gap: 25px;
}

.header-wrapper > div > div:first-child > div {
  gap: 70px;
}

.header-wrapper > div > div:first-child > div a {
  color: #737373;
}

.header-wrapper > div > div:first-child > div a:hover {
  color: #d9d9d9;
}

.header-wrapper > div > div:last-child > div .my-btn:last-child a {
  transition: all 0.4s;
}

.header-wrapper > div > div:last-child > div .my-btn:last-child a:hover {
  gap: 15px;
}
/* Header */

/* Banner */
.banner-wrapper > div > div:first-child > div > div {
  gap: 40px;
}

.banner-wrapper > div > div:first-child > div > h4 {
  margin: 30px 0;
  width: 70%;
  line-height: 30px;
  font-weight: 300;
  color: #737373;
}

.banner-wrapper > div > div:first-child > div > h5 {
  color: #96bb7c;
}
/* Banner */

/* Banner-box */
.banner-box-wrapper > div > div > div {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 0px #d9d9d9;
  padding: 30px 15px;
}

.banner-box-wrapper > div > div > div > div {
  /* background-color: red; */
  padding: 10px 0;
  position: relative;
}

.banner-box-wrapper > div > div > div > div::after {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 2px;
  width: 50px;
  background-color: #e74040;
}

/* Banner-box */

/* Course */

.course-wrapper > div h6 {
  color: #96bb7c;
}

.course-wrapper > div:first-child p {
  width: 50%;
  color: #737373;
}

.course-wrapper > div h2 {
  color: #252b42;
}

/* Box-wrapper */
.box-wrapper > div > div > div > div > span {
  background-color: red;
  color: #ffffff;
  top: 20px;
  left: 20px;
  font-weight: 700;
  font-size: 10px;
  border-radius: 2px;
  padding: 5px 15px;
}

.box-wrapper > div > div > div > div > div {
  bottom: 14px;
  left: 45px;
  display: flex;
  gap: 10px;
  /* transform: translateY(-50%); */
  /* background-color: red; */
}

.box-wrapper > div > div > div > div > div > img {
  cursor: pointer;
}

.box-wrapper .content > div a {
  color: #96bb7c;
  font-weight: 600;
  font-size: 14px;
}

.box-wrapper .content > h5 {
  font-weight: 700;
}
.box-wrapper .content > h5:first-child {
  color: #252b42;
}

.box-wrapper .content > h5:nth-of-type(2) {
  color: #737373 !important;
}

.box-wrapper .content > p {
  color: #737373;
}

.box-wrapper .content > div:last-of-type a {
  transition: all 0.4s;
}

.box-wrapper .content > div:last-of-type a:hover {
  /* background-color: red; */
  gap: 15px;
}

/* Box-wrapper */

.course,
.box-wrapper {
  padding-bottom: 0px !important;
}

/* Course */

/* Package */
.package-wrapper > div > :last-child > div > div:first-child {
  /* background-color: red; */
  padding: 35px 0;
  position: relative;
}

.package-wrapper > div > :last-child > div > p {
  margin: 15px 0;
}

.package-wrapper > div > :last-child > div > .my-btn a:hover {
  gap: 15px;
}

.package-wrapper > div > :last-child > div > .my-btn a {
  transition: all 0.4s;
  padding: 10px 25px 10px 0;
}

.package-wrapper > div > :last-child > div > div:first-child::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 94px;
  background-color: #e74040;
  top: -5px;
}
/* Package */

/* Footer */

.footer-top {
  background: #fff2f3;
  text-align: center;
  padding: 100px 50px;
}

footer .footer-top > div > div > div:first-of-type > h6 {
  color: #96bb7c;
  font-weight: 600;
}

footer .footer-top > div > div > div:first-of-type > h3 {
  margin: 30px 0;
  font-weight: 700;
  font-size: 25px;
}

footer .footer-top > div > div > div:first-of-type > p {
  width: 50%;
  margin: 0 auto;
}

footer .footer-top > div > div > div:last-of-type {
  margin-top: 20px;
  display: inline-flex;
  width: 600px;
}

footer .footer-top > div > div > div:last-of-type input {
  border: 2px solid #d6d4d4fc;
  padding: 20px 10px;
  outline: none;
  border-right-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
}

footer .footer-top > div > div > div:last-of-type input::placeholder {
  color: #737373;
  font-weight: 600;
}

footer .footer-top > div > div > div:last-of-type input:focus-visible {
  color: #737373;
  font-weight: 600;
}

footer .footer-top > div > div > div:last-of-type .fill-btn a {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer-middle > div > div > div h5,
.footer-middle > div > div > div h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-middle > div > div > div h6 {
  display: inline-flex;
  gap: 10px;
}

.footer-middle > div > div > div a {
  display: block;
  color: #737373;
  font-weight: 500;
  margin-top: 10px;
}

.footer-bottom {
  background: #fafafa;
}

.footer-bottom h6 {
  color: #737373;
  font-weight: 600;
}

.footer-bottom .icon img {
  cursor: pointer;
}

.footer-bottom .icon {
  gap: 10px;
}

/* Footer */

/* Break Points */
@media only screen and (min-width: 1200px) {
  .banner-wrapper > div > div:first-child > div > h1 {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapper > div > div:first-child > div ul {
    display: none !important;
  }

  .header-wrapper > div > div:first-child div {
    justify-content: center !important;
  }

  .header-wrapper > div > div:first-child div > div {
    justify-content: center !important;
  }

  .banner-wrapper > div > div:first-child > div > h1 {
    font-size: 50px;
  }

  .course-wrapper > div:first-child {
    text-align: center;
  }

  .course-wrapper > div:first-child p {
    width: 100%;
  }

  footer .footer-top > div > div > div:last-of-type {
    width: 90%;
  }

  .footer-middle > div > div > div {
    margin-bottom: 20px;
  }

  .footer-bottom > div > div {
    text-align: center;
    gap: 20px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 532px) {
  .banner-wrapper > div > div:first-child > div {
    text-align: center;
  }
  .banner-wrapper > div > div:first-child > div > h5 {
    margin-bottom: 10px !important;
  }
  .banner-wrapper > div > div:first-child > div > h4 {
    margin: 10px auto;
  }
  .banner-wrapper > div > div:first-child > div > h1 {
    text-align: center;
    font-size: 40px;
  }

  .banner-wrapper > div > div:first-child > div > div {
    justify-content: center !important;
  }

  .banner-wrapper > div > div:first-child > div > div a {
    font-size: 15px;
  }

  footer .footer-top > div > div > div:last-of-type {
    width: 100%;
  }

  .footer-middle > div > div > div {
    text-align: center;
  }

  .footer-middle {
    padding-bottom: 0px !important;
  }
}

@media only screen and (max-width: 320px) {
  .banner {
    padding: 30px 0 !important;
  }
}

@media only screen and (max-width: 1160px) {
  main {
    background: linear-gradient(#eff8ed, #f6faff);
  }
}
